section{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    background-color:rgba(216, 5, 69, 0.58);
}
body{
    text-align: center;
    background-color: rgb(26, 107, 46);
}
ul{
    display: inline;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    
}

.facts{
    display: flex;
    margin-bottom: 20px;
}



img{
    max-height: 400px;
    margin-top: 20px;
}
